<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Messaging Board</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
   <%- include('navbar') %>
    <div class="container">
        </div>
        <div class="row">
            <div class="col-2">
                <div class="box"></div>
            </div>
            <div class="col col-lg-3">
                <div class="box"></div>
            </div>
        </div>
    </div>
</body>
</html>