<li class="card mb-3">
    <div class="card-header">
        <div class="card-title">
            <h2>
                <%= message.user%>
            </h2>
            </div>
        <div class="card-subtitle" style="font-size: 0.8em"><%= message.added%></div>
        </div>
        <div class="card-body">
        <div class="card-text">
            <%= message.text%>
            <a href="<%= /open/ + message.id %>"> Open</a>
        </div>
    </div>
</li>