<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container">
        <a href="./new" class="navbar-brand btn btn-light">New Message</a>
        <div class="navbar-nav">Welcome!</div>
        <div class="navbar-text">Total posts:</div>
    </div>
</nav>