<nav class="navbar navbar-expand navbar-dark" style="background-color: #0f0547">
    <div class="container">
        <a href="/new" class="navbar-brand btn btn-outline-light">New Message</a>
        <h1 class="navbar-text">Welcome!</h1>
        <div class="navbar-text">Total posts:</div>
        <!-- add React code here later to total the posts-->
    </div>
</nav>