<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container">
        <a href="./new" class="navbar-brand btn btn-outline-light">New Message</a>
        <h1 class="navbar-text">Welcome!</h1>
        <div class="navbar-text">Total posts:</div>
    </div>
</nav>