@import URL('bootstrap.min.css');
.box {
    background-color: lightblue;
    border: 1px solid blue;
    min-height: 50px;
    font-size: 2rem;
}

.btn-outline-light:hover {
    color:black;
}

body {
    background-color: #1e0d80;
}

.card-text {
    display: flex;
    justify-content:space-between;
    align-items:flex-end;
}